[submodule "dependencies/nghttp3"]
	path = dependencies/nghttp3
	url = https://github.com/ngtcp2/nghttp3.git
	shallow = true
	ignore = untracked
	update = checkout
	#branch = main # tag: v1.18.0
[submodule "dependencies/httpd"]
	path = dependencies/httpd
	url = https://github.com/machine-moon/httpd.git
	shallow = true
	ignore = untracked
	update = checkout
	branch = trunk
[submodule "dependencies/apr"]
	path = dependencies/apr
	url = https://github.com/apache/apr.git
	shallow = true
	ignore = untracked
	update = checkout
	branch = 1.7.x
[submodule "dependencies/apr-util"]
	path = dependencies/apr-util
	url = https://github.com/apache/apr-util.git
	shallow = true
	ignore = untracked
	update = checkout
	branch = 1.6.x
[submodule "dependencies/openssl"]
	path = dependencies/openssl
	url = https://github.com/openssl/openssl.git
	shallow = true
	ignore = dirty
	update = checkout
	branch = openssl-3.5
[submodule "dependencies/ngtcp2"]
	path = dependencies/ngtcp2
	url = https://github.com/ngtcp2/ngtcp2.git
	shallow = true
	ignore = untracked
	update = checkout
	#branch = main # tag: v1.25.0
